#preLoader {
  background: #000 url(images/preloader-circle.gif) no-repeat center;
  background-size: 18%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.card img {
  height: 250px;
}
.card {
  cursor: pointer;
}
#displayData {
  width: 90%;
  margin: auto;
}

#fullDisplayImage img {
  height: 400px;
}

#fullCard {
  padding: 20px;
}
